
.container-fluid {
    background-color: #2d9596;
    width: 100%;
}

.mainlogo {
    margin-left: 8vh;
}

#register-color {
    color: #2d9596;
    font-family: "Questrial" ;
}

#nav-text-color {
    color: white;
    font-size: 2vh;
    font-family: "Questrial" 
}
#home-text-color {
    color: #265073;
    font-size: 2vh;
    font-family: "Questrial" 
}

#login-color {
    font-family: "Questrial" 
}

#title-presentation{
    font-family: "Questrial";
    color: #2d9596;
    font-size: 6vh;
}

#text-presentation{
    font-family: "Questrial";
    color: #265073;
    font-size: 3vh;
    text-align: left;
}


.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #2D9596;
    border-radius: 21px;
    transform: rotate(30deg);
}


.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #9AD0C2;
}



    
