.container-navbar {
    width: 100%;
    height: 11vh;
    background-color: #2d9596;
    display: flex;
    justify-content: space-between;
}

.main-logo {
    margin-left: 8vh;
}

.list-index{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.navbar-index{
    font-family: "Questrial";
    font-size: 2vh;
    display: flex;
    justify-content: center;

}

.nav-text-box {
    color: white;
    margin: 10px;
    text-decoration: none;
}
.nav-text-box:hover {
    color: #c1c8cf;
}

.buttons-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 11vh;
}


.btn-login {
    color:white;
    background-color:#2d9596;
    border: white 1px solid ;
    width: 13vh;
    height: 4vh;
    border-radius: 5%;
    font-family: "Questrial";
    font-size: 2vh;
    margin: 10px;

}
.btn-login:hover {
    background-color: #6cbbbd;
}

.btn-register {
    color:#265073;
    background-color: white;
    border: white 1px solid;
    width: 13vh;
    height: 4vh;
    border-radius: 5%;
    font-family: "Questrial";
    font-size: 2vh;
    margin-right: 25px;

}
.btn-register:hover {
    background-color: #c5f4f5;
}


#title-presentation{
    font-family: "Questrial";
    color: #2d9596;
    font-size: 6vh;
}

#text-presentation{
    font-family: "Questrial";
    color: #265073;
    font-size: 3vh;
    text-align: left;
}


.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #2D9596;
    border-radius: 21px;
    transform: rotate(30deg);
}


.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #9AD0C2;
}


#ha-card{
    background-image: url(../images/hospitalalemanedificio.jpg);
    background-size: cover;
    transition: scale 200ms;
}

#hi-card{
    background-image: url(../images/italianoedificio.jpg);
    background-size: cover;
    transition: scale 200ms;
}


#cb-card{
    background-image: url(../images/bazterricaedificio2.jpg);
    background-size: cover;
    transition: scale 200ms;
}

#ha-card:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    scale: 102%;
}

#hi-card:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    scale: 102%;
}

#cb-card:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    scale: 102%;
}


